body {
  background-color: #081d28;
  font-family: 'Syne';
}

.App {
  text-align: center;
  color: white;
}

.createRoomForm, 
.login,
.signUp {
  color: white;
  text-align: center;
  padding: 3vh;
  margin: 3vh;
}

.createRoomForm {
  float: left;
}

.createRoomFormBox {
  margin-bottom: 1.5vh;
  text-align: center;
  width: 30vh;
}

.availableRooms {
  padding: 3vh;
  margin: 3vh;
  align-items: center;
  float: left;
}

.loggedIn h1, h3 {
  text-align: center;
  color: white;
}

.room {
  color: white;
  background-color:#154C68;
  border: solid 0.1vh white;
  padding: 0.5vh;
}

.roomBox {
  margin: auto;
  padding: 0.5vh;
}

.roomBox img {
  display: inline-block;
  width: 0.25vh;
  margin: auto;
}

.createRoomForm input,
.login input,
.signUp input {
  margin: 1vh;
  padding: 1vh;
  border: 0.1vh solid #ccc;
  border-radius: 0.4vh;
  height: 2vh;
  font-family: 'Syne';
  font-size: 1.5vh;
}

.createRoomForm button,
.login button,
.signUp button,
.logOutBtn button {
  margin: 1vh;
  padding: 1vh;
  border: 1px solid #ccc;
  border-radius: 0.4vh;
  height: 3vh;
  cursor: pointer;
  text-align: center;
  line-height: 1vh;
  font-family: 'Syne';
}

.logOutBtn {
  float: right;
}

.availableRooms button {
  margin: 1vh;
  padding: 1vh;
  border: 0.1vh solid #ccc;
  border-radius: 4px;
  height: 0.25vh;
  cursor: pointer;
  text-align: center;
  line-height: 0.5vh;
  font-family: 'Syne';
  height: 3vh;
}

.chat {
  float: right;
  display: flex;
  flex-direction: column;
  height: 50vh;
  font-family: 'Verdana';
  background-color: #154C68;
  border-radius: 0.6vh;
  width: 15vw;
}

.chat h2 {
  color: white;
  text-align: center;
  padding: 0.2vh;
  margin: 0;
  font-family: 'Verdana';
  font-size: 2.5vh;
}

.userList {
  padding: 0.5vh 2vh 0.5vh 2vh;
  font-family: 'Verdana';
}

.chat input {
  margin: 1vh;
  padding: 1vh;
  border-radius: 0.6vh;
  border: none;
  width: 9vw;
  height: 1vh;
  font-size: 1.4vh;
}

.chatMessages {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 6vh;
  background-color: #a3d4ec;
  padding: 1vh;

}

.chatInputWithButton {
  text-align: center;
  position: sticky;
  bottom: 0;
  background-color: #154C68;
  padding-right: 1vh;
}

.chatInputWithButton button {
  font-family: 'Verdana';
  color: black;
  font-weight: 600;
  background-color: #a3d4ec;
  border-radius: 0.6vh;
  width: 3vw;
  height: 3vh;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  font-size: 1.4vh;
}

.cell {
  background-color: #2B789D;
  border: 0.1vh solid white;
  color: white;
  width: 4.5vh;
  height: 4.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2vh;
}

.middleCell,
.doubleWordScore,
.tripleWordScore,
.doubleLetterScore,
.tripleLetterScore {
  border: 0.1vh solid white;
  color:black;
  width: 4.5vh;
  height: 4.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.2vh;
  font-size: 2vh;
}

.middleCell {
  background-color: #DFDF54 ;
}

.doubleWordScore {
  background-color: deeppink;
}

.tripleWordScore {
  background-color: orange;
}

.doubleLetterScore {
  background-color: burlywood;
}

.tripleLetterScore {
  background-color: green;
}

.scrabble-board {
  background-color: #154C68;
  display: grid;
  grid-template-columns: repeat(15, 4.5vh);
  grid-template-rows: repeat(15, 4.5vh);
  gap: 0.2vh;
  padding: 4.5vh;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.chat-area {
  margin-left: 10vw;
}

.lettersAndOptions {
  padding-top: 2.2vh;
  padding-bottom: 2.2vh;
  clear: both;
}

.tileRack {
  border: solid 0.25vh white;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  gap: 0.6vh; 
  padding: 1vh;
  background-color:#154C68;
  min-width: 37vh;
  min-height: 5vh;
}

.tile{
  color: black;
  font-weight: 700;
  border: 0.1vh solid black;
  width: 4.5vh;
  height: 4.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6vh;
  background-color: rgb(236, 223, 209);
  cursor: grab;
  position: relative;
  font-size: 2vh;
}

.placeForTile {
  color: black;
  font-weight: 700;
  border: 1px solid black;
  width: 4.5vh;
  height: 4.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.6vh;
  background-color: #154C68;
  position: relative;
}

.letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vh;
}

.value {
  position: absolute;
  bottom: 0.1vh;
  right: 0.4vh;
  font-size: 1.4vh;
}

.gameButton {
  height: 4.5vh;
  background-color: #a3d4ec;
  min-width: 10vh;
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.6vh;
  cursor: pointer;
}

.material-icons {
  font-size: 3.5vh;
}

.buttons {
  display: flex;
  gap: 1.1vh;
}

.loginMessage {
  color: red;
}

.quitBtn {
  text-align: center;
}

.quitBtn button {
  color:crimson;
  margin: 1vh;
  border-radius: 0.5vh;
  height: 3vh;
  cursor: pointer;
  text-align: center;
  line-height: 0.5vh;
  font-family: 'Verdana';
  width: 12vh;
  font-size: 1.2vh;
}

.premia {
  font-weight: 700;
  text-align: center;
  font-family: arial;
  font-size: 2vh;
}

.infoPanel {
  border-radius: 1vh;
  font-family: 'Verdana';
  height: 40vh;
  width: 15vw;
  font-size: 1.8vh;
}

.infoPanelBox {
  border-radius: 1vh;
  background-color: #a3d4ec;
}

.infoPanel h3 {
  background-color: #154C68;
  color: white;
  padding: 0;
  margin-bottom: 0;
}

.infoPanelBox p {
  font-weight: 700;
  text-align: center;
}